body {
    background-color: rgb(146, 142, 142);
/*    background: url('../images/login-bg.jpg');  */
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vertical-offset-80 {
    padding-top: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#message-field{
    margin-top: 100%;
}

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

img {
    vertical-align: middle;
}

.talk{
	margin-top:70px;
	margin-bottom: 70px;
}

.dialog{
	height:auto;
    margin-bottom:15px;    
}

.user{
    background:rgb(226, 232, 235);
}

.robot{
    background:rgb(109, 174, 226);
}

.dialog h4{
	font-size:15px;
	font-weight: bold;
}

.dialog p{
	font-size:12px;
	padding-left:15px;
}